<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>"Hello, node!!"</h2>
		</div>
	</div>
</div>





	<script type="public/javascripts/jquery.js"></script>
	<script type="public/javascripts/bootstrap.js"></script>
</body>
</html>